<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="/css/screen.css" />
		<link rel="stylesheet" type="text/css" href="/css/welcome.css" />
		<meta name="author" content="Jan Papoušek" />
		<title>Vězňovo dilema</title>
	</head>
	<body>
		<h1>Vězňovo dilema</h1>
		<div id="welcome"></div>
		<div id="navigation">
			<form>
				<label>E-mail:</label> <input type="text" />
				<label>Heslo:</label> <input type="password" />
				<input type="submit" value="Přihlásit se"/>
			</form>
			<hr />
			<a href="">Zaregistrovat se</a>
			<a href="">Zapomenuté heslo</a>
			<a href="">O projektu</a>
		</div>
	</body>
</html>