body {
	padding: 0;
	margin: 5px;
	background: #484139;
	color: white;
}
h1 {
	text-align: center;
	margin: 0;
	padding: 10px;
}
#navigation {
	width: 624px;
	margin: 10px auto;
}
#navigation a {
	color: white;
	margin-right: 20px;
}
#navigation a:hover, #navigation a:focus {
	text-decoration: none;
}
#navigation input[type="text"], #navigation input[type="password"] {
	border: 0;
	margin-right: 20px;
}
#navigation input {
	padding: 5px;
}
#navigation hr {
	margin: 10px 0;
	border: 1px solid white;
}
#welcome {
	background: url('/images/prisoner.png');
	height: 400px;
	width: 624px;
	margin: 0 auto;
	padding: 0;
	border: 2px solid black;
}